// 向右淡入滑动
@keyframes slide-in-right-fade {
  0% {
    transform: translateX(-50px);
    opacity: 0;
  }

  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

// 向右淡出滑动
@keyframes slide-out-left-fade {
  100% {
    transform: translateX(50px);
    opacity: 0;
  }

  0% {
    transform: translateX(0);
    opacity: 1;
  }
}

// 向左淡入滑动
@keyframes slide-in-left-fade {
  0% {
    transform: translateX(50px);
    opacity: 0;
  }

  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

// 向左淡出滑动
@keyframes slide-out-right-fade {
  100% {
    transform: translateX(-50px);
    opacity: 0;
  }

  0% {
    transform: translateX(0);
    opacity: 1;
  }
}
