@use 'odometer';
@use 'ant-design';
@use 'animation';
@use 'vars';

html, body {
  overflow-x: hidden;
  background-color: var(--trim-bg-color);
}

.os-theme-dark .os-scrollbar-track .os-scrollbar-handle {
  background-color: var(--trim-scrollbar-color);
}

#app {
  height: 100%;
}

/* nprogress实例 */
#nprogress {
  z-index: 999 !important;

  /* 进度条颜色 */
  .bar {
    background: var(--antdv-color-primary) !important;
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  font-family: -apple-system,
    BlinkMacSystemFont,
    Segoe UI,
    PingFang SC,
    Hiragino Sans GB,
    Microsoft YaHei,
    Helvetica Neue,
    Helvetica,
    Arial,
    sans-serif,
    Apple Color Emoji,
    Segoe UI Emoji,
    Segoe UI Symbol;
}

// 去除焦点在iconify图标上时的外边框
.iconify:focus {
  outline: none;
}

// 滚动条样式
::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: var(--antdv-color-primary);
  border-radius: 4px;
}

::-webkit-scrollbar-button {
  display: none;
}

::-webkit-scrollbar-corner {
  background-color: transparent;
}

[data-overlayscrollbars-viewport] {
  display: flex;
  flex-direction: column;
}
