@use 'tailwind';
@use 'transitions';

body {
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
  font-family: Lato, PingFang SC, Microsoft YaHei, sans-serif;
}

/* nprogress实例 */
#nprogress {
  /* 进度条颜色 */
  .bar {
    background: var(--el-color-primary);
  }
}

#app {
  height: 100%;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

// 去除焦点在iconify图标上时的外边框
.iconify:focus {
  outline: none;
}
