:root {
  --vxe-font-color: var(--antdv-color-text);
  --vxe-primary-color: var(--antdv-color-primary);
  --vxe-success-color: var(--antdv-color-success);
  --vxe-info-color: var(--antdv-color-info);
  --vxe-warning-color: var(--antdv-color-warning);
  --vxe-danger-color: var(--antdv-color-error);
  --vxe-font-lighten-color: var(--antdv-color-text-secondary);
  --vxe-primary-lighten-color: var(--antdv-color-primary-hover);
  --vxe-success-lighten-color: var(--antdv-color-success-hover);
  --vxe-info-lighten-color: var(--antdv-color-info-hover);
  --vxe-warning-lighten-color: var(--antdv-color-warning-hover);
  --vxe-danger-lighten-color: var(--antdv-color-primary-hover);
}
